@import "tailwindcss";


/* ---- CSS VARIABLES (DESIGN SYSTEM) ---- */
:root {
  --bg-gradient: linear-gradient(
    135deg,
    #e0f2ff 0%,
    #f0f9ff 40%,
    #ecfeff 100%
  );

  --primary: #2563eb; /* blue-600 */
  --text-dark: #0f172a; /* slate-900 */
  --text-muted: #475569; /* slate-600 */
}



body {
  background: var(--bg-gradient);
  color: var(--text-dark);
  font-family: var(--font-inter);
}

section {
  scroll-margin-top: 120px;
}

html {
  scroll-behavior: smooth;
}

